- provide(:title, 'New External Issueds')
- model_class = ExternalIssued
.page-header
  %h1=  t 'external_issueds.new', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human
= render :partial => 'form'
