- provide(:title, 'New vehicle card')
- model_class = VehicleCard
.page-header
  %h1= t 'vehicle_cards.new', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human
= render :partial => 'form'
