- provide(:title, 'Edit Registration No (Civil)')
- model_class = VehicleNo
.page-header
  %h1= t 'vehicle_nos.edit', :default => [:'helpers.titles.new', 'Edit %{model}'], :model => model_class.model_name.human
= render :partial => 'form'
