- provide(:title, 'Edit Fuel Balance')
- model_class = FuelBalance
.page-header
  %h1= t 'fuel_balances.edit', :default => [:'helpers.titles.new', 'Edit %{model}'], :model => model_class.model_name.human
= render :partial => 'form'
