- provide(:title, 'New Fuel Balances')
- model_class = FuelBalance
.page-header
  %h1=  t 'fuel_balances.new', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human
= render :partial => 'form'
