%fieldset
  .form-inline{role: "form"}
    = f.collection_select :fuel_type_id, FuelType.where('ID NOT IN (?)',FuelType.exclude_petrol_diesel), :id, :name, :include_blank => (t 'helpers.prompt.select_fuel_type'), :html_options => {:class => 'selectpicker'}
    = f.text_field :description, :class => 'text_field input-medium', :placeholder => 'Description'
    = f.text_field :quantity, :class => 'text_field input-small', :placeholder => 'Quantity'
    = f.collection_select :unit_type_id, UnitType.all, :id, :description, :include_blank => (t 'helpers.prompt.select_unit_type'), :html_options => {:class => 'selectpicker'}
