.control-group
  = f.label :maintenance_type_id, :class => 'control-label'
  .controls= f.collection_select :unit_type, UnitType.all, :id, :short_name, {:include_blank => (t 'helpers.prompt.select_unit_type')}, {:class => 'selectpicker'}
