%tr
  %td= @unit_type.short_name
  %td= @unit_type.description
  %td
    .btn-group.dropdown
      %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
        .span.caret
      %ul.dropdown-menu.pull-right.action_menu
        %li= link_to content_tag(:li, fa_icon("pencil", text: "Edit")), edit_unit_type_path(@unit_type), :remote => true
        %li.danger= link_to content_tag(:li, fa_icon("trash-o", text: "Delete")), @unit_type, :remote => true, method: :delete, data: { confirm: 'Are you sure?' }  