- provide(:title, 'New Fuel Tank')
- model_class = FuelTank
.page-header
  %h1=  t 'fuel_tanks.new', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human
= render :partial => 'form'
